<!-- Config file for the game -->

<config>
  <app framerate_cap="30">
    <title>DayBreak</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="720" height="640" scale="1"/>
    <fullscreen value="true"/>
    <borderless value="false"/>
    <resizable value="true"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <music intro1="audio\music\Intro.ogg" intro2="audio\music\Intro2.ogg" level="audio\music\stage_music.ogg"/>

</config>